//修改elementui样式

//表头样式
#app .el-table {
    th {
      text-align: center;/*表头文字居中*/
    }
  
    th.gutter {
      display: table-cell;
    }
  
    td {
      text-align: center;/*表体文字居中*/
    }
    //修复表格边缘会有突出一点的线
    th.is-leaf,
    .el-table td {
      border: none;
    }
  }